#title {
    background-color: #ebbf2e;
    color: #000;
}
.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    color: #e61d1d;
}
h2 {
    color:#e61d1d;
    font-family: 'Roboto';
    font-size: 1.5;
    font-weight: bold;
}
h3 {
    font-family: 'Roboto';
    font-weight: bold;
}
p {
    color:#000;
}


/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: 'Open Sans';
    font-size: 2.0rem;
    font-weight: bold;
}
.navbar-item {
    padding: 0 18px;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2 rem;
}

/* Downlaod Button */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 85%;
    transform: rotate(20deg);
    position:absolute;
}

/*Features Section */
#features {
    padding: 7% 15%;
    background-color:#fff;
    z-index: 1;
    position: relative;
}
.feature-box {
    text-align:center;
    padding: 5%;
}
.icon {
    color: #e61d1d;
    margin-bottom: 1rem;
}
.icon:hover {
    color:#ebbf2e
}

/*Testimonials Section */
#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ebbf2e;
}
.carousel-item {
    padding: 7% 15%;
}
.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 10px;
}
#press {
    background-color: #ebbf2e;
    text-align: center;
}
.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
    padding: 100px;
    text-align:center;
}
.pricing-header {
    color:#000;
}
.pricing-column {
    padding: 3% 2%;
}

/*Call To Action Section CTA*/
#cta {
    background-color:#ebbf2e;
    color:#e61d1d;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

/*Footer Section*/
#footer {
    padding: 7% 15%;
    text-align: center;
}
.social-icon {
    margin: 20px 10px;
}

/* Media Query Section*/
@media (max-width: 1028px){
    #title {
        text-align:center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}